attrs==25.3.0 ; python_version >= "3.9" and python_version < "4"
backoff==2.2.1 ; python_version >= "3.9" and python_version < "4"
backports-datetime-fromisoformat==2.0.3 ; python_version >= "3.9" and python_version < "3.11"
certifi==2025.4.26 ; python_version >= "3.9" and python_version < "4"
charset-normalizer==3.4.2 ; python_version >= "3.9" and python_version < "4"
click==8.1.8 ; python_version >= "3.9" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4" and platform_system == "Windows"
fsspec==2025.3.2 ; python_version >= "3.9" and python_version < "4"
greenlet==3.2.2 ; python_version >= "3.9" and python_version < "3.14" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
idna==3.10 ; python_version >= "3.9" and python_version < "4"
importlib-metadata==8.7.0 ; python_version >= "3.9" and python_version < "3.12"
importlib-resources==6.5.2 ; python_version == "3.9"
inflection==0.5.1 ; python_version >= "3.9" and python_version < "4"
joblib==1.5.0 ; python_version >= "3.9" and python_version < "4"
jsonpath-ng==1.7.0 ; python_version >= "3.9" and python_version < "4"
jsonschema-specifications==2025.4.1 ; python_version >= "3.9" and python_version < "4"
jsonschema==4.23.0 ; python_version >= "3.9" and python_version < "4"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "4"
packaging==25.0 ; python_version >= "3.9" and python_version < "4"
ply==3.11 ; python_version >= "3.9" and python_version < "4"
pyarrow==14.0.2 ; python_version >= "3.9" and python_version < "4"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "4"
python-dotenv==1.1.0 ; python_version >= "3.9" and python_version < "4"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "4"
referencing==0.36.2 ; python_version >= "3.9" and python_version < "4"
requests==2.31.0 ; python_version >= "3.9" and python_version < "4"
rpds-py==0.25.0 ; python_version >= "3.9" and python_version < "4"
simpleeval==1.0.3 ; python_version >= "3.9" and python_version < "4"
simplejson==3.20.1 ; python_version >= "3.9" and python_version < "4"
singer-sdk==0.46.3 ; python_version >= "3.9" and python_version < "4"
six==1.17.0 ; python_version >= "3.9" and python_version < "4"
sqlalchemy==2.0.41 ; python_version >= "3.9" and python_version < "4"
target-parquet @ git+https://github.com/Automattic/target-parquet.git@v1.1.2 ; python_version >= "3.9" and python_version < "4"
typing-extensions==4.13.2 ; python_version >= "3.9" and python_version < "4"
universal-pathlib==0.2.6 ; python_version >= "3.9" and python_version < "4"
urllib3==2.4.0 ; python_version >= "3.9" and python_version < "4"
zipp==3.21.0 ; python_version >= "3.9" and python_version < "3.12"
